<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.xxt.listviewsample">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".expandablelistview.ExpandableListViewTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ArrayAdapterActivity" />
        <activity android:name=".MyListActivity" />
        <activity android:name=".CustomItemActivity" />
        <activity android:name=".CustomArrayAdapterActivity" />
        <activity android:name=".SimpleAdapterActivity" />
        <activity android:name=".CustomBaseAdapterActivity" />
        <activity android:name=".UpdataListViewActivity" />
        <activity android:name=".GridViewActivity" />
        <activity android:name=".SpinnerActivity" />
        <activity android:name=".AutoCompleteTextViewActivity" />
        <activity android:name=".AlertDialogActivity" />
        <activity android:name="cn.xxt.PageRecyclerDemo.TestPageRecyclerViewActivity" />
        <activity android:name="cn.xxt.audiorecord.RecordTestActivity" />
        <activity android:name="cn.xxt.mediaplayer.MediaplayerActivity" />
        <activity android:name="cn.xxt.handler.HandlerActivity"></activity>
        <activity android:name="cn.xxt.constraintlayout.RelativePositionActivity">

        </activity>
        <activity android:name="cn.xxt.dialogtest.DialogTestActivity"></activity>
    </application>

</manifest>