<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.xxt.recyclerviewexercise">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".transmitdata.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".recyclerviewexercise.ShowDateTime"
            android:label="@string/date_and_time" />
        <activity android:name=".transmitdata.TransmitDataActivity" />
        <activity android:name=".transmitdata.MyActivity1" />
        <activity android:name=".transmitdata.MyActivity2" />
        <activity android:name=".transmitdata.MyActivity3" />
        <activity android:name=".transmitdata.MyActivity4" />
        <activity android:name=".startactivityforresult.ResultActivity" />
        <activity android:name=".startactivityforresult.RequestActivity" />
        <activity android:name=".systemactivity.SystemActivity" />
        <activity android:name=".invokeotheractivity.InvokeOtherActivity" />
        <activity android:name=".filterconsumer.FilterConsumerActivity" />
        <activity
            android:name=".screenorientation.ScreenOrientationActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".configchanges.ConfigChangesActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="fullSensor" />
        <activity android:name=".process.ProcessActivity" />
        <activity
            android:name=".process.AActivity"
            android:process=":new_process" />
        <activity android:name=".process.BActivity" />
        <activity
            android:name=".saveinstance.SaveStateActivity"
            android:screenOrientation="fullSensor" />
        <activity android:name=".launchmode.LaunchModeActivity" />
        <activity android:name=".launchmode.StandardActivity" />
        <activity
            android:name=".launchmode.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".launchmode.Test1Activity"
            android:launchMode="singleInstance" />
        <activity android:name=".launchmode.Test2Activity" />
        <activity android:name=".intentflag.IntentFlagActivity" />
        <activity android:name=".intentflag.MyActivity" />
        <activity android:name=".affinity.AffinityActivity" />
        <activity android:name=".layout.framelayout.FameLayoutTestActivity" />
        <activity android:name=".layout.linearlayout.LinearLayoutTestActivity" />
        <activity android:name=".layout.linearlayout.LinearLayoutTest2Activity" />
        <activity android:name=".layout.framelayout.FrameLayoutTest1Activity" />
        <activity android:name=".layout.relativelayout.RelativeLayoutTestActivity" />
        <activity android:name=".layout.layoutinflator.LoadLayoutActivity" />
        <activity android:name=".menuexercise.MenuItemClickActivity" />
        <activity android:name=".menuexercise.DynamicAddMenuItemActivity" />
        <activity android:name=".menuexercise.SubMenuActivity" />
        <activity android:name=".menuexercise.ContextMenuActivity" />
        <activity android:name=".menuexercise.CustomMenuActivity" />
        <activity android:name=".menuexercise.UcMenuActivity" />
        <activity android:name=".resourcees.EnumResourceActivity" />
        <activity android:name=".resourcees.LevelListActivity" />
        <activity android:name=".resourcees.CrossFadeActivity" />
        <activity android:name=".resourcees.PropertyAnimActivity" />
        <activity android:name=".resourcees.TranslateAnimActivity" />
        <activity android:name=".resourcees.ScaleActivity" />
        <activity android:name=".resourcees.RotateActivity" />
        <activity android:name=".resourcees.ShakeInterpolatorActivity" />
        <activity android:name=".widgetexercise.TextViewExerciseActivity" />
        <activity android:name=".widgetexercise.TextViewImgActivity" />
        <activity android:name=".widgetexercise.ClickToJumpActivity" />
        <activity android:name=".widgetexercise.TextBackGroundActivity" />
        <activity android:name=".widgetexercise.EditFaceActivity" />
        <activity android:name=".widgetexercise.EditSpecialChrarcterActivity" />
        <activity android:name=".widgetexercise.AutoTextActivity" />
        <activity android:name=".widgetexercise.ButtonExerciseActivity" />
        <activity android:name=".widgetexercise.ImageTextButtonActivity" />
        <activity android:name=".widgetexercise.ImageButtonActivity" />
        <activity android:name=".widgetexercise.RadioButtonActivity" />
        <activity android:name=".widgetexercise.ToggleButtonActivity" />
        <activity android:name=".widgetexercise.CheckboxExerciseActivity" />
        <activity android:name=".widgetexercise.ListViewTestActivity" />
        <activity android:name=".widgetexercise.ChoiceListViewActivity" />
        <activity android:name=".widgetexercise.DynamicListViewActivity" />
        <activity android:name=".widgetexercise.ColorListViewActivity" />
        <activity android:name=".widgetexercise.ExpandableListViewActivity" />
        <activity android:name=".widgetexercise.SpinnerActivity" />
        <activity android:name=".widgetexercise.GridViewActivity" />
        <activity android:name=".widgetexercise.TabHostActivity" />
        <activity android:name=".widgetexercise.ViewStubActivity" />
        <activity android:name=".widgetexercise.DialogActivity" />
        <activity android:name=".widgetexercise.ToastTestActivity" />
        <activity android:name=".widgetexercise.NotificationActivity" />
        <activity android:name=".dragview.FirstDragDropActivity" />
        <activity android:name=".fragmentexercise.FirstFragmentActivity" />
        <activity android:name=".fragmentexercise.DetailActivity" />
        <activity android:name=".fragmentexercise.FragmentCycleActivity" />
        <activity android:name=".fragmentexercise.RuntimeCreateFragmentActivity" />
        <activity android:name=".fragmentexercise.FragmentArgumentActivity" />
        <activity android:name=".fragmentexercise.FragmentCallbackActivity" />
        <activity
            android:name=".fragmentexercise.FragmentPersistenceActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="fullSensor" />
        <activity android:name=".popupwindow.PopupWindowActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".switchtest.SwitchTestActivity" />
        <activity android:name=".smartrefreshlayout.SmartRefreshLayoutActivity"></activity>
        <activity android:name=".recyclerviewexercise.BaseRecyclerViewActivity">

        </activity>
        <activity android:name=".widgetexercise.EditTextActivity">

        </activity>
    </application>

</manifest>